<a href="https://colab.research.google.com/github/Kavya-1708/python_basics/blob/main/Litudicse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lists

Q1. Create a list named ‘myList’ that has the following elements: 10, 20, 30, ‘apple’, True, 8.10:

In [2]:
#List creation
myList = [10, 20, 30, 'apple', True, 8.10]
print(myList)

[10, 20, 30, 'apple', True, 8.1]

a)  Now in the ‘myList’, append these values: 30, 40

In [3]:
#Append in the list
myList.append(30)
myList.append(40)
print(myList)

[10, 20, 30, 'apple', True, 8.1, 30, 40]

b) After that, reverse the elements of the ‘myList’ and store that in
‘reversedList’

In [4]:
#Reverse the list
myList.reverse()
reversedList = myList
print(reversedList)

[40, 30, 8.1, True, 'apple', 30, 20, 10]

#Dictionary

Q2. Create a dictionary with key values as 1, 2, 3 and the values as ‘data’,‘information’ and ‘text’:

In [25]:
#Create a dictionary
my_dict = {1: 'data', 2: 'information', 3: 'text'}
print(my_dict)

{1: 'data', 2: 'information', 3: 'text'}

a) after that, eliminate the "text" value from the dictionary.

In [26]:
#Delete the "text" value from the dictionary
del my_dict[3]
print(my_dict)

{1: 'data', 2: 'information'}

b) add "features" in the dictionary.

In [27]:
# Add an element in the dictionary
my_dict[4] = 'features'
print(my_dict)

{1: 'data', 2: 'information', 4: 'features'}

c) Fetch the "data" element from the dictionary and display it in the output

In [28]:
# Fetch the "data" element from the dictionary
my_dict = {1: 'data', 2: 'information', 3: 'text'}
print(my_dict[1])

data

#Tuples

Q3. Create a tuple and add these elements 1, 2, 3, apple, mango in my_tuple.

In [29]:
# Create a tuple
my_tuple =(1,2,3,"apple","mango")
print(my_tuple)

(1, 2, 3, 'apple', 'mango')

Q4. Create another tuple named numeric_tuple consisting of only integer values 10, 20, 30, 40, 50

In [30]:
numeric_tuple = (10,20,30,40)
print(numeric_tuple)

(10, 20, 30, 40)

a. find the minimum value from the numeric_tuple

In [31]:
# minimum value from the numeric tuple
min_val = min(numeric_tuple)
print(min_val)

10

b. concat my_tuple with numeric_tuple and store the result in r1

In [32]:
# Concatenation of two tuples
r1 = my_tuple + numeric_tuple
print(r1)

(1, 2, 3, 'apple', 'mango', 10, 20, 30, 40)

c. Duplicate the tuple named my_tuple 2 times and store that in "new_dupli"

In [33]:
# Duplicate the tuple 2 times
new_dupli = my_tuple * 2

# Store in new dictionary - new_dupli
print("Duplicated tuple:", new_dupli)

Duplicated tuple: (1, 2, 3, 'apple', 'mango', 1, 2, 3, 'apple', 'mango')

# Sets

Q5. Create 2 sets with the names set1 and set2, where set1 contains
{1,2,3,4,5} and set2 contains {2,3,7,6,1}

In [34]:
# Create 2 sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(set1)
print(set2)

{1, 2, 3}
{3, 4, 5}

Perform the following operations -

a. set1 union set2

b. set1 intersection set2

c. set1 difference set2

In [35]:
# Union
print("Union of set 1 and set 2 is :", set1.union(set2))

# intersection
print("Intersection of set 1 and set 2 is:", set1.intersection(set2))

# difference
print("Difference of set 1 and set 2 is:", set1.difference(set2))

Union of set 1 and set 2 is : {1, 2, 3, 4, 5}
Intersection of set 1 and set 2 is: {3}
Difference of set 1 and set 2 is: {1, 2}